.stock-list {
  margin-top: 100px;
  table {
    text-align: left;
    border-collapse: collapse;
    thead {
      color: rgb(79, 89, 102);
      border-bottom: 1px solid rgb(235, 235, 235);
    }
    th,
    td {
      padding: 8px 20px;
    }
    tbody {
      tr {
        cursor: pointer;

        .remove-button {
          visibility: hidden;
          margin-left: 15px;
          border: 1px solid #dc3545;
          padding: 6px;
          border-radius: 5px;
          background-color: #dc3545;
          color: #ffffff;
          cursor: pointer;
          transition: background-color 0.25s, color 0.25s, outline 0.1s;
        }
        .remove-button:hover {
          background-color: #c9302c;
          color: #ffffff;
        }

        .remove-button:focus {
          outline: 3px solid lightcoral;
        }
      }
      tr:hover {
        background-color: rgb(240, 240, 240);
        .remove-button {
          visibility: visible;
        }
      }
    }
  }
}
