.stock-chart {
  width: 70vw;
  margin-top: 50px;

  .stock-chart__buttons-div {
    display: flex;
    gap: 10px;
    margin-left: 10px;
  }
}

.unselected-button {
  border: 1px solid #007bff;
  padding: 6px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #0084ff;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, outline 0.1s;
}
.unselected-button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.unselected-button:focus {
  outline: 3px solid lightblue;
}

.selected-button {
  border: 1px solid #007bff;
  padding: 6px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, outline 0.05s;
}
.selected-button:hover {
  background-color: #0062cc;
  color: #ffffff;
}

.selected-button:focus {
  outline: 3px solid lightblue;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
  .stock-chart {
    width: 100vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .stock-chart {
    width: 97vw;
  }
}

@media screen and (min-width: 700px) and (max-width: 829px) {
  .stock-chart {
    width: 90vw;
  }
}

@media screen and (min-width: 830px) and (max-width: 934px) {
  .stock-chart {
    width: 85vw;
  }
}

@media screen and (min-width: 935px) and (max-width: 1095px) {
  .stock-chart {
    width: 80vw;
  }
}
